<div class="container-fluid">

    <header style="padding-top: 1rem !important;">
        <div class="row">
            <div style="float:left;" class="col-md-4">
                <img src="~/Image/logo.jpeg" height="65" width="140" />
            </div>
            <div style="text-align:center;" class="col-md-4">
                <h2 id="hh" class="text-center">PRODUCT MASTER</h2>
            </div>
            <div style="float:right;" class="col-md-4">
                <div style="text-align:center;">
                    <table>
                        <tr>
                            <th>
                                <i class="fa-solid fa-square-phone fa-xl" style="color:green;margin-left:5px;margin-top:5px"></i>
                                +91 9175670857
                            </th>
                        </tr>
                    </table>
                    <table style="margin-top: 19px !important;">
                        <tr>
                            <th>
                                <i class="fa-solid fa-square-envelope fa-xl" style="color:#ecc609;"></i>
                                <a href="mailto:info@synergy5M.com">info@synergy5M.com</a>
                            </th>
                        </tr>
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </header>


    <div class="container-fluid">
        <header>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="height:30px!important;">
                <button class="openButton" onclick="openForm()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <button class="btn btn-warning right" id="myBtn" style="margin-top: 0px !important;padding-top: 0px !important;">
                    <i class="fa-solid fa-user"></i>
                </button>

                <a href="/new" class="btn btn-success" style="padding-top: 0px !important;">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
            </div>
        </header>

    </div>

</div>